@use "utils" as *;

$padding_type_0: undefinedpx undefinedpx undefinedpx undefinedpx;

.main {
  @include flex-column;
  background: linear-gradient(180deg, #F0F7EC 0%, #D9DFD6 18.23%, #60321E 69.27%, #0C0E13 77.08%, #0C0E13 100%);
  padding: $padding_type_0;
  position: relative;
  overflow: hidden;
}
.main__cell {
  @include flex-column;
  position: relative;
}
